$background-color: #f3f3f3;

:host {
  position: relative;
  display: block;
}

*:focus {
  outline: none;
}

.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.edit-button {
  &.active {
    background-color: grey;
  }
}

.json {
  font-size: 10px;
}

.header {
  b {
    font-size: 16px;
  }
}

.count {
  position: absolute;
  right: 0;
  top: -30px;
}
